<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Mercado Liebre</title>
</head>

<body>
        <header class="main-header">
            <div class="main-header-top-bar">
            <img class="logo-header" src="/img/logo-mercado-liebre.svg" alt="">

             <input class="main-search" type="search" >
            <button class="main-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>

            <h2 class="title-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjetas de crédito</h2>
            </div>

            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#" target="_blank">Ofertas</a></li>
                    <li><a href="#" target="_blank">Tiendas Oficiales</a></li>
                    <li><a href="#" target="_blank">Vender</a></li>
                    <li><a href="#" target="_blank">Ayuda</a></li>
                </ul>
    
                <ul class="right-navbar">
                    <li><a href="#" target="_blank">Creá tu cuenta<i class="fa-solid fa-id-card"></i></a></li>
                    <li><a href="#" target="_blank">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                    <li><a href="#" target="_blank">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
                </ul>
            </nav>

            <div class="burger-menu"><i class="fa-solid fa-bars"></i></div>

        </header>
        
        <main>
            <section>
                <h3 class="title-section-main">Basado en las última vista</h3>
                <article class="align-img">
                    <img class="main-img" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <div class="description">
                    <p class="price-article" >$6.770</p>
                    <p class="discount-article" >40% OFF</p>
                    <h4 class="description-article" >Cafetera Moulinex</h4></div>
                </article>
    
                <article class="align-img">
                    <img class="main-img" src="/img/img-macbook-pro-2019.jpg" alt="MacBook">
                    <div class="description">
                    <p class="price-article">$230.000</p>
                    <p class="discount-article">20% OFF</p>
                    <h4 class="description-article">MacBook Pro 2019</h4></div>
                </article>
    
                <article class="align-img">
                    <img class="main-img" src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                    <div class="description">
                    <p class="price-article">$70.500</p>
                    <p class="discount-article">10% OFF</p>
                    <h4 class="description-article">Samsung Galaxy S10</h4></div>
                </article>
    
                <article class="align-img">
                    <img class="main-img" src="/img/img-tv-samsung-smart.jpg" alt="SmartTv">
                    <div class="description">
                    <p class="price-article">$23.200</p>
                    <p class="discount-article">5% OFF</p>
                    <h4 class="description-article">SmartTv Samsung 43"</h4></div>
                </article>
    
            </section>
            
            <section> <h3 class="title-section-main">Ofertas</h3>
            <article class="align-img">
                <img class="main-img" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera">
                <div class="description"> 
                <p class="price-article">$6.770</p>
                <p class="discount-article" >40% OFF</p>
                <h4 class="description-article" >Cafetera Moulinex</h4></div>
            </article>
            <article class="align-img">
                <img class="main-img" src="/img/img-macbook-pro-2019.jpg" alt="MacBook">
                <div class="description">
                <p class="price-article">$230.000</p>
                <p class="discount-article">20% OFF</p>
                <h4 class="description-article">MacBook Pro 2019</h4></div>
            </article>
            <article class="align-img">
                <img class="main-img" src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                <div class="description"> 
                <p class="price-article">$70.500</p>
                <p class="discount-article">10% OFF</p>
                <h4 class="description-article">Samsung Galaxy S10</h4></div>
            </article>
            <article class="align-img">
                <div class="description"> 
                <img class="main-img" src="/img/img-tv-samsung-smart.jpg" alt="SmartTv">
                <p class="price-article">$23.200</p>
                <p class="discount-article">5% OFF</p>
                <h4 class="description-article">SmartTv Samsung 43"</h4></div>
            </article>
        </section>

        </main>

        <br></br>
        <footer>
            <article class="align-footer">
            <i class="fa-solid fa-credit-card"></i>
            <h3 class="title-footer">Pagá con tarjeta de crédito o en efectivo</h3>
        <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </p>
            </article>

            <article class="align-footer">
            <i class="fa-solid fa-gift"></i>
        <h3 class="title-footer">Envío gratis desde $2.500</h3>
        <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </p>
            </article>

            <article class="align-footer">
            <i class="fa-solid fa-user-shield"></i>
        <h3 class="title-footer">Seguridad, de principio a fin</h3>
        <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@
        </p>
            </article>

        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </footer>
</body>
</html>