<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/9bd61e4e51.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/register.css">
    <title>Mercado Liebre</title>
</head>

<body>
        
    <header class="main-header">
        <nav>
            <span class="nav-all">
            <div class="main-header-top-bar">
                <img class="logo-header" src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            </div>
            <div class="main-search"> 
                <input  type="search" placeholder="Buscar productos, marcas">
               
                <button class="main-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

            <p><h2 class="title-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjetas de crédito</h2></p>
            </span>

            
                <ul class="nav">
                    <li><a href="" target="_blank">Ofertas</a></li>
                    <li><a href="" target="_blank">Tiendas Oficiales</a></li>
                    <li><a href="" target="_blank">Vender</a></li>
                    <li><a href="" target="_blank">Ayuda</a></li>
                </ul>
    
                <ul class="nav">
                    <li><a href="/register" target="_blank">Creá tu cuenta<i class="fa-solid fa-id-card"></i></a></li>
                    <li><a href="/login" target="_blank">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                    <li><a href="/" target="_blank">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
                </ul>
           

            <div class="burger-menu"><i class="fa-solid fa-bars"></i></div>
        </nav>

            <img class="home-banner" src="/img/img-home-banner.jpg" alt="img-home-banner">
            
    </header>



    <main>
        <form action="/register" method="POST">
            <label for="name">Nombre y apellido:</label>
            <br>
            <input type="text" id="name" name="name" placeholder="Nombre completo y apelido" required>
            <br>

            <label for="user">Nombre de usuario:</label>
            <br>
            <input type="text" id="user" name="user" placeholder="Nombre de usuario" required>
            <br>

            <label for="email">Email:</label>
            <br>
            <input type="email" id="email" name="email" placeholder="Correo electronico" required>
            <br>

            <label for="date-birth">Fecha de nacimiento:</label>
            <br>
            <input type="date" id="date-birth" name="date-birth" placeholder="Fecha de nacimiento" required>
            <br>

            <label for="location">Domicilio:</label>
            <br>
            <input type="text" id="location" name="location" placeholder="Domicilio" required>
            <br>

            <label for="user-type">¿Eres comprador o vendedor?</label>
            <br>
            <input type="radio" id="buyer" name="user-type" value="buyer">
            <label for="buyer">Comprador</label>

            <input type="radio" id="seller" name="user-type" value="seller">
            <label for="seller">Vendedor</label>
            <br>

            <label>Selecciona tus intereses:</label>
            <br>
            <label for="electronics">Electro</label>
            <input type="checkbox" id="electronics" name="interests" value="electronics">
            <br>
            <label for="fashion">Moda</label>
            <br>
            <input type="checkbox" id="fashion" name="interests" value="fashion">
            <br>
            <label for="home">Hogar</label>
            <br>
            <input type="checkbox" id="home" name="interests" value="home">
            <br>
            <label for="toys">Jugueteríar</label>
            <br>
            <input type="checkbox" id="toys" name="interests" value="toys">
            <br>
            <label for="health">Vida sana</label>
            <br>
            <input type="checkbox" id="health" name="interests" value="health">
           
            

        </form>


    </main>



    <br></br>
    <footer>
        <article class="align-footer">
        <i class="fa-solid fa-credit-card"></i>
        <h4> <b> Pagá con tarjeta de crédito o en efectivo </b> </h4>
    <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!
    </p>
        </article>

        <article class="align-footer">
        <i class="fa-solid fa-gift"></i>
        <h4> <b> Envío gratis desde $2.500 </b> </h4>
    <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.
    </p>
        </article>

        <article class="align-footer">
        <i class="fa-solid fa-user-shield"></i>
        <h4> <b> Seguridad, de principio a fin </b> </h4>
    <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@
    </p>
        </article>
        <br>
    <article>
        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </article>
        
    </footer>
</body>

</html>